{% extends 'admin::form.field._layout' %}
{% block input %}
    {% filter html_inline %}
        <input type="password" class="form-control {{ options.class }}" id="{{ id }}" name="{{ name }}"

               {% if options.placeholder %}placeholder="{{ options.placeholder }}"{% endif %}
                {% if readonly %}readonly{% endif %}
                {% if disabled %}disabled{% endif %}

                {% if required %}
                    data-bv-notempty="true"
                    data-bv-notempty-message='{{ trans('admin::form.validation.not_empty', {label: options.label}) }}'
                {% endif %}

                {% if options.identical %}
                    data-bv-identical="true"
                    data-bv-identical-field="{{ options.identical }}"
                    data-bv-identical-message="{{ trans('admin::form.validation.identical', {label: options.label, identical: form.get(options.identical).getOption('label')}) }}"
                {% endif %}

                {% if options.different %}
                    data-bv-different="true"
                    data-bv-different-field="{{ options.different }}"
                    data-bv-different-message="{{ trans('admin::form.validation.different', {label: options.label, different: form.get(options.different).getOption('label')}) }}"
                {% endif %}
        />
    {% endfilter %}

    {% if options.help %}
        <span class="help-block"><small>{{ options.help|nl2br }}</small></span>
    {% endif %}
{% endblock %}
